/* About me page stylings  */
.wrapper {
	background-color: #fafafa;
	background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
	margin: 0px;
}

.containerMainPage,
.headerWrapper,
.innerHeaderWrapper {
	margin: 0px auto;
	max-width: 960px;
}

.containerMainPage {
	background-color: #ffffff;
}

.headerWrapper {
	background-color: #fffffe;
	height: 57px;
	max-width: unset;
	border-bottom: 1px solid #cccccc;
}

section{
    display: inline;
}

p {
	width: 100%;
	display: inline-block;
	padding: 7px;
	margin: 5px;
	color:#777777;
	font-family: Arial, Helvetica, sans-serif;
}

.bigger-width{
    width: 100%;
}

hr {
	color: #cccccc;
}

header {
	background-color: #48aba8;
	width: 86px;
	display: inline-block;
	height: 34px;
	width: 150px;
	text-align: center;
	padding-top: 20px;
	color: white;
	font-style: bold;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;

}

nav {
	display: inline-block;
	float: right;
	padding: 15px;

}

a {
	color: #777777;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
}



.profilePic {
	height: 100px;
	width: 100px;
}

h2 {
	color: #48aba8;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
	background-color: #666666;
    text-align: center;
    height: 19px;
    color: white;
    padding-top: 40px;
}

/* portfolio.html stylings */

.grid-container {
        display: grid;
        grid-gap: 5rem;
        grid-template-columns:  repeat(3, 200px);
        grid-template-rows: repeat(2, 100px);
        padding: 60px;
}

.marriott-image {
    background: url(../images/Marriott.jpg);
    background-size: cover;

}

.nuance-image{
    background: url(../images/NuanceAI.png);
    background-size: cover;
}

.sava-senior-image{
    background: url(../images/savaseniorcare2.jpg);
    background-size: cover;
}

.future-developer{
    background: url(../images/futuresoftware.jpg);
    background-size: cover;
}

.engineer{
    background: url(../images/developerimage.jpg);
    background-size: cover;
}

h4{
    text-align: center;
    background: #48aba8;
    color: white;
    margin-top: 96px;
    height: 40px;
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* contact page stylings */

.containerContact {
	background-color: #fafafa;
	height: 500px;
}

label {
	display: block;
}

button {
	display: block;
}

#name-input,
#email-input {
	width: 615px;
}
/* About Me 640px media breaks */
@media only screen and (max-width: 640px){
nav{
	float: none;
    display: block;
    margin-top: 60px;
    text-align: center;
}
header {
	width: 100%;
    position: fixed;
    top: 6px;
    left: 0px;
    z-index: 1500;
}

.profilePic{
	height: 100%;
    width: 100%;
    margin-left: 4px;
}

p {
	width: 100%;
    display: block;
    margin: 5px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
.bigger-width{
	width: 100%
}

footer{
	background-color: #666666;
    color: white;
    padding-top: 40px;
	width: 100%;
	text-align: center;
}
/* Portfolio page 640px media breaks*/

.innerHeaderWrapper{
	margin: 0px auto;
    width: 100%;
}

.marriott-image,
.nuance-image,
.sava-senior-image,
.future-developer,
.engineer{
	height: fit-content;
}

.grid-container{
	grid-template-columns: none;
}

/* contact page 640px media breaks*/
button{
	background-color: #48aba8;
    height: 41px;
	width: 112px;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

input{
	border: 1px solid #cccccc;
}

textarea{
	border: 1px solid #cccccc;
	width: 100%;
}

/* About Me 768px media breaks */

